body {
    background-color: #e20456;
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 20px;
    background-color: #f9b313;
    color: white;
    text-align: center;
}

main {
    padding: 20px;
}